<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <h1 class="text-center mt-5 mb-5">APP API-REST PYTHON - FLASK - MONGODB</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Clientes</h5>
                    </div>
                    <div class="btn btn-danger">
                        <a href="{{ url_for('index') }}">Regresar</a>
                    </div>
                    <div class="card-body"> 
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cliente in clientes %}
                                <tr>
                                    <td>{{ cliente._id }}</td>
                                    <td>{{ cliente.nombre }}</td>
                                    <td>{{ cliente.direccion }}</td>
                                    <td>{{ cliente.telefono }}</td>
                                    <td>{{ cliente.email }}</td>
                                    <td>
                                        <a href="{{ url_for('deleteCliente', cliente_id=cliente._id) }}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
