<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Empleados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <form action="/empleado" method="POST">
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" name="_id">
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="nombre">
            </div>
            <div class="form-group">
                <label>Salario</label>
                <input type="text" class="form-control" name="salario">
            </div>
            <div class="form-group">
                <label>Cargo</label>
                <input type="text" class="form-control" name="cargo">
            </div>
            <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
    </div>
</body>

</html>
