<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propiedades</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <h1 class="text-center mt-5 mb-5">APP API-REST PYTHON - FLASK - MONGODB</h1>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-5">
                    <div class="card-header">
                        <h5 class="text-center">Transacciones realizadas</h5>
                    </div>
                    
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Fecha</th>
                                    <th>Propiedad</th>
                                    <th>Comprador</th>
                                    <th>Vendedor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaccion in transacciones %}
                                <tr>
                                    <td>{{ transaccion._id }}</td>
                                    <td>{{ transaccion.fecha_compra }}</td>
                                    <td>{{ transaccion.nombre_propiedad }}</td>
                                    <td>{{ transaccion.cliente }}</td>
                                    <td>{{ transaccion.empleado }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
